@import "basic";
@import "colors";
@import "navidad";

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	outline-style: none;
	user-select: none;
	-webkit-user-drag: none;
	list-style: none;
	text-decoration: none;
	background: none;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	overflow: hidden;
}

body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track-piece,
body::-webkit-resizer,
body::-webkit-scrollbar-corner {
	background: var(--color-scroll-bars-bg);
}

body::-webkit-scrollbar-thumb {
	background: var(--color-scroll-bars-box);
}

body {
	width: 100%;
	min-width: 800px;
	height: 100vh;
	overflow: auto;
	background: var(--color-body-bg);
	color: var(--color-body-txt);
	display: grid;
	grid-template-columns: 250px auto;
	grid-template-rows: 50px auto 50px;
	grid-template-areas:
		"header header"
		"nav main"
		"footer footer";
	transition: all 0.3s ease;
}

.header {
	grid-area: header;
	display: grid;
	grid-template-columns: var(--grid-template-columns-header);
	grid-template-areas: var(--grid-template-areas-header);
	align-items: center;
	justify-items: center;
	background: var(--color-box-bg);
	color: var(--color-box-txt);

	.logo-img {
		grid-area: logo-img;
		background: var(--logo-img) no-repeat;
		background-size: 50px 50px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		transition: all 0.35s ease;

		&:hover {
			background: var(--logo-img-hover) no-repeat;
			background-size: 50px 50px;
			transition: all 0.3s ease;
		}

		&:focus {
			background: var(--logo-img-focus) no-repeat;
			background-size: 50px 50px;
			transition: all 0.3s ease;
		}
	}

	.logo-text {
		grid-area: logo-text;
		justify-self: start;
		padding-left: 10px;
		color: var(--color-link-box-txt);
		font-size: 1.2rem;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			color: var(--color-link-box-txt-hover);
			transition: all 0.3s ease;
		}

		&:focus {
			color: var(--color-link-box-txt-focus);
			transition: all 0.3s ease;
		}
	}

	.button-hamburger {
		grid-area: button-hamburger;
		font-size: 1.5rem;
		background: none;
		color: var(--color-link-box-txt);
		cursor: pointer;
		transition: all 0.3s ease;

		&:before {
			font-family: "Font Awesome\ 5 Free";
			content: "\f0c9";
		}

		&:hover {
			color: var(--color-link-box-txt-hover);
			transition: all 0.3s ease;
		}

		&:focus {
			color: var(--color-link-box-txt-focus);
			transition: all 0.3s ease;
		}
	}

	.grid-space {
		grid-area: grid-space;
	}

	.switch-audio {
		grid-area: switch-audio;
		position: relative;
		background: var(--color-switch-bg);
		width: 60px;
		height: 30px;
		cursor: pointer;

		&::after {
			font-family: "Font Awesome\ 5 Free";
			content: "\f028";
			position: absolute;
			top: 0;
			left: 0;
			right: unset;
			background: var(--color-switch-box);
			color: var(--color-switch-txt);
			width: 30px;
			height: 30px;
			line-height: 30px;
		}

		&.active {
			&::after {
				font-family: "Font Awesome\ 5 Free";
				content: "\f6a9";
				right: 0;
				left: unset;
			}
		}
	}

	.switch-full-screen {
		grid-area: switch-full-screen;
		position: relative;
		background: var(--color-switch-bg);
		width: 60px;
		height: 30px;
		cursor: pointer;

		&::after {
			font-family: "Font Awesome\ 5 Free";
			content: "\f065";
			position: absolute;
			top: 0;
			left: 0;
			right: unset;
			background: var(--color-switch-box);
			color: var(--color-switch-txt);
			width: 30px;
			height: 30px;
			line-height: 30px;
		}

		&.active {
			&::after {
				font-family: "Font Awesome\ 5 Free";
				content: "\f066";
				right: 0;
				left: unset;
			}
		}
	}

	.switch-dark-light {
		grid-area: switch-dark-light;
		position: relative;
		background: var(--color-switch-bg);
		width: 60px;
		height: 30px;
		cursor: pointer;

		&::after {
			font-family: "Font Awesome\ 5 Free";
			content: "\f185";
			position: absolute;
			top: 0;
			left: 0;
			right: unset;
			background: var(--color-switch-box);
			color: var(--color-switch-txt);
			width: 30px;
			height: 30px;
			line-height: 30px;
		}

		&.active {
			&::after {
				font-family: "Font Awesome\ 5 Free";
				content: "\f186";
				right: 0;
				left: unset;
			}
		}
	}

	// #switch-lang {
	// 	position: relative;
	// 	top: 2px;
	// }

	.switch-lang {
		grid-area: switch-lang;
		position: relative;
		background: var(--color-switch-bg);
		width: 60px;
		height: 30px;
		cursor: pointer;

		&::after {
			content: url($img_en);
			position: absolute;
			top: 0;
			left: 0;
			right: unset;
			background: var(--color-switch-box);
			width: 30px;
			height: 30px;
			line-height: 41px;
		}

		&.active {
			&::after {
				content: url($img_es);
				right: 0;
				left: unset;
				background: var(--color-switch-box);
			}
		}
	}
}

.nav {
	grid-area: nav;
	background: var(--color-box-bg);
	color: var(--color-box-txt);
	padding-left: 5px;

	a {
		display: block;
		padding: 15px 0px;
		color: var(--color-link-box-txt);
		min-width: 800px;
		transition: all 0.3s ease;

		&.active {
			background: var(--color-link-bg-box-hover);
			color: var(--color-link-box-txt-hover);
			transition: all 0.3s ease;
		}

		&:hover {
			background: var(--color-link-bg-box-hover);
			color: var(--color-link-box-txt-hover);
			transition: all 0.3s ease;
		}

		&:focus {
			background: var(--color-link-bg-box-focus);
			color: var(--color-link-box-txt-focus);
			transition: all 0.3s ease;
		}

		.fas {
			font-size: 1.5rem;
		}

		&.sub {
			a {
				display: none;
			}

			/*
			.sub-up {
				display: none;
			}
			.sub-down {
				display: none;
			}

			.sub-up {
				display: inline-block;
			}

			.sub-nav {
				display: inline-block;
			}*/
		}
	}
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
	background: var(--color-box-bg);
	color: var(--color-box-txt);
}
