@import "_ColorsDark";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	overflow: scroll;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--color-scroll-bars) var(--scrollbarBG);
}
