@import "colors";
@import "navidad";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track-piece,
body::-webkit-resizer,
body::-webkit-scrollbar-corner {
	background: var(--color-scroll-bars-bg);
}

body::-webkit-scrollbar-thumb {
	background: var(--color-scroll-bars-box);
}

body {
	width: 100%;
	min-width: 800px;
	height: 100vh;
	overflow: auto;
	background: var(--color-body-bg);
	color: var(--color-body-txt);
	display: grid;
	grid-template-columns: 250px auto;
	grid-template-rows: 50px auto 50px;
	grid-template-areas:
		"header header"
		"nav main"
		"footer footer";
	transition: all 0.3s ease;
}

.header {
	grid-area: header;
	display: grid;
	grid-template-columns: var(--grid-template-columns-header);
	grid-template-areas: var(--grid-template-areas-header);

	.logo-img {
		grid-area: logo-img;
	}

	.logo-text {
		grid-area: logo-text;
	}

	.button-hamburger {
		grid-area: button-hamburger;
	}

	.grid-space {
		grid-area: grid-space;
	}

	.switch-audio {
		grid-area: switch-audio;
		display: none;
	}

	.switch-full-screen {
		grid-area: switch-full-screen;
	}

	.switch-dark-light {
		grid-area: switch-dark-light;
	}

	.switch-lang {
		grid-area: switch-lang;
	}
}

.nav {
	grid-area: nav;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}
