@import "ColorsDark";
@import "ColorsLight";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--color-scroll-bars-bg) var(--color-scroll-bars-box);
}

body::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

body::-webkit-scrollbar-track,
body::-webkit-resizer {
	background: var(--color-scroll-bars-bg);
}

body::-webkit-scrollbar-thumb {
	background: var(--color-scroll-bars-box);
}

body {
	width: 100%;
	height: 100vh;
	overflow: scroll;
}
